
<div class="content-wrapper">
  <div class="wing">
    <img class="rounded-circle" src="https://th.bing.com/th/id/OIG2.wUHI.SIrn82NPr.c2yt1?w=270&h=270&c=6&r=0&o=5&pid=ImgGn" alt="wing sign">
  </div>
    <header class="he">  
        <div class="logo rounded-circle">
            <img id="logos" class="rounded-circle" src="https://lh3.googleusercontent.com/a/ACg8ocJsEEFEVAemVjOn0RipvH_FjJbsxQEAgqfr6eAOXr6Hiu7fZuE=s288-c-no" alt="Logo">
            <p>Blessing & Tech</p>
        </div>  
         
        <!-- navbar conf avec bootstrap start -->
        <nav class="navbar navbar-expand-lg navbar-light bg-none" [ngClass]="{'navbar-reduced': isNavbarReduced}" style="padding-left: 10px;"> 
            <a id="brand" class="navbar-brand" href="#">🛫</a>
            <button class="navbar-toggler bg-warning" type="button" (click)="toggleNavbar()" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            
            <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a (click)="toggleNavbarOnSmallScreens()" class="nav-link active" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">Accueil</a>
                </li>
                <li class="nav-item">
                  <a (click)="toggleNavbarOnSmallScreens()" class="nav-link active" routerLink="/about" routerLinkActive="active">À Propos</a>
                </li>
                <li class="nav-item"> 
                  <a (click)="toggleNavbarOnSmallScreens()" class="nav-link active" routerLink="/services" routerLinkActive="active">Services</a>
                </li>
        <!--         <li hidden class="nav-item">
                  <a (click)="toggleNavbarOnSmallScreens()" class="nav-link active" routerLink="/login" routerLinkActive="active" *ngIf="!secret()">Sign in</a>
                </li>
                <li hidden class="nav-item">
                  <a (click)="toggleNavbarOnSmallScreens()" class="nav-link active" routerLink="/signup" routerLinkActive="active" *ngIf="!secret()">Sign up</a>
                </li>  -->
                <li hidden class="nav-item">
                  <a (click)="toggleNavbarOnSmallScreens()" class="nav-link active" routerLink="/home" routerLinkActive="active" *ngIf="!secret()">Galery</a>
                </li> 
                <li class="nav-item">
                  <a (click)="toggleNavbarOnSmallScreens()" class="nav-link active" routerLink="/publication" routerLinkActive="active">Articles</a>
                </li> 
               
                <li hidden class="nav-item">
                  <a class="nav-link disabled" href="#">Disabled</a>
                </li>
                <li class="nav-item">
                  <a (click)="toggleNavbarOnSmallScreens()" class="nav-link active" routerLink="/win" routerLinkActive="active">Gagner</a>
                </li> 
                <li class="nav-item">
                  <a (click)="toggleNavbarOnSmallScreens()" class="nav-link active" routerLink="/contact" routerLinkActive="active">Contact</a>
                </li>
                <li class="nav-item">
                  <a hidden (click)="toggleNavbarOnSmallScreens()" class="nav-link active" routerLink="/gallery" routerLinkActive="active">Gallery</a>
                </li>

                
                <li hidden class="dropdown-container mb-3"> 
                  <div id="bout" class="dropdown" #dropdownMenu>
                      <button class="btn nav-treeview btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Post
                      </button>
                      <div id="men" class="dropdown-menu" aria-labelledby="bout" style="position: absolute; max-height: 300px; overflow-y: auto;">
                           <a (click)="toggleNavbarOnSmallScreens()" id="submenu" class="dropdown-item" routerLink="#" routerLinkActive="active">Create Post</a> 
                           <a (click)="toggleNavbarOnSmallScreens()" id="submenu" class="dropdown-item" routerLink="/publication">See Posts</a> 
                      </div>
                  </div> 
              </li>
              <li class="dropdown-container"> 
                  <div class="dropdown" #dropdownMenu>
                      <button class="btn nav-treeview btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-boundary="viewport" aria-expanded="false">
                          <small>Actualités</small>
                      </button>
                      <div  class="dropdown-menu column-flex" aria-labelledby="dropdownMenuButton" style="position: absolute; max-height: 300px; overflow-y: auto;">
                        
                        <div class="social-links bg-light">
                          <a href="https://youtube.com/@blessedwingtech?si=PWrDgT-PFrm_x_Mr" class="social-link">
                            <img src="https://cdn-icons-png.flaticon.com/128/3670/3670147.png" alt="youtube" class="social-icon">
                            <span>Follow us on youtube</span>
                          </a>
                          <a href="mailto:blessedwingtech@gmail.com" class="social-link">
                            <img src="https://cdn-icons-png.flaticon.com/128/732/732200.png" alt="gmail" class="social-icon">
                            <span>Send an email</span>
                          </a>
                          <a href="#" class="social-link">
                            <img src="https://cdn-icons-png.flaticon.com/128/5968/5968764.png" alt="facebook" class="social-icon">
                            <span>Follow us on facebook</span>
                          </a>
                          <a href="https://wa.me/50940576045?text=Bonjour%20je%20souhaite%20plus%20d'informations" class="social-link">
                            <img src="https://cdn-icons-png.flaticon.com/128/5968/5968841.png" alt="whatsapp" class="social-icon">
                            <span>Follow us on Whatsapp</span>
                          </a>
                          <a href="https://twitter.com/intent/tweet?button_hashtag=blessedwingtech&ref_src=twsrc%5Etfw" class="social-link twitter-hashtag-button" data-show-count="false">
                            <img src="https://pbs.twimg.com/profile_images/1683364031921356800/lC0xkPJZ_400x400.jpg" alt="twitter" class="social-icon rounded-circle">
                            <span>Follow blessedwingtech</span>
                          </a>
                          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </div>
                        
                      
                         
                        
                           <a hidden (click)="toggleNavbarOnSmallScreens()" id="submenu" class="dropdown-item" routerLink="/mypictures">My pictures</a> 
                           <a hidden (click)="toggleNavbarOnSmallScreens()" id="submenu" class="dropdown-item" routerLink="/win">Gagner</a> 
                           <a hidden (click)="toggleNavbarOnSmallScreens()" id="submenu" class="dropdown-item" routerLink="/blog">Nos blogs</a>  
                           <a hidden (click)="toggleNavbarOnSmallScreens()" class="nav-link active" routerLink="/win" routerLinkActive="active">Gagner</a>
                           <a hidden (click)="toggleNavbarOnSmallScreens()" id="submenu" class="dropdown-item" routerLink="/publication">See Posts</a> 
                              
                      </div>
                  </div>  
              </li> 
              
                <li class="nav-item">
                  <a (click)="toggleNavbar()" class="nav-link text-danger" routerLink="/logout"><small style="text-transform: capitalize;" *ngIf="!secret()">Logout</small></a>
                </li> 
            
              </ul>
            </div>
          </nav>
          
    </header>
</div>
          
