<div class="first">
  <div class="loginbox"> 
    <div class="card-body"> 
      <p class="login-box-msg text-center">CONNECTEZ-VOUS</p>
      <form>
        <div class="m form-group">
          <label for="email">Email</label>
          <input type="email" [(ngModel)]="LoginObj.email" id="email" name="email" required>
        </div>
        <div class="m form-group">
          <label for="password">Password</label>
          <input class="form-control" type="password" [(ngModel)]="LoginObj.password" id="password" name="password" required>
        </div>
        <div class="form-group">
          <button class="form-control btn-primary" type="submit" (click)="onLogin()">Log In</button>
        </div>
      </form>
      <div id="google-signin-button" class="google-signin-button"></div>
      <p style="text-align: center;"><a routerLink="/passwordrequestreset">Password oublié</a></p> 
    </div> 
  </div> 
</div>
