 
 <div class="banner">
  <h1>À propos de nous</h1>
  <p>Flying better to fly higher</p>
</div>
<div class="contain">
  <div class="container"> 
      <h2 class="mb-3 text-center text-light rounded bg-secondary col-12">Contactez-nous</h2>
      <form class="p-4" #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
        <div class="mb-3">
          <label for="name" class="form-label">Nom</label>
          <input type="text" class="form-control" id="name" name="name" ngModel required>
          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger">
            Nom est requis.
          </div>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" name="email" ngModel required>
          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
            Email est requis et doit être valide.
          </div>
        </div>
        <div class="mb-3">
          <label for="country" class="form-label">Pays</label>
          <select class="form-control" id="country" name="country" ngModel required>
            <option *ngFor="let country of countries" [value]="country">{{ country }}</option>
          </select>
          <div *ngIf="country.invalid && (country.dirty || country.touched)" class="text-danger">
            Pays est requis.
          </div>
        </div>
        <div class="mb-3">
          <label for="message" class="form-label">Message</label>
          <textarea class="form-control" id="message" name="message" rows="3" ngModel required></textarea>
          <div *ngIf="message.invalid && (message.dirty || message.touched)" class="text-danger">
            Message est requis.
          </div>
        </div>
        <div class="g-recaptcha" data-sitekey="YOUR_SITE_KEY"></div>
        <button type="submit" class="btn btn-primary col-12" [disabled]="contactForm.invalid">Envoyer</button>
      </form>
      
  </div>
  

  <div id="entre">
    <p class="si">Nous sommes ouverts à toute suggestion et/ou discussion</p>
      <div class="findme">
        <div id="vi">
            <img src="https://img.icons8.com/ios-glyphs/30/000000/home.png" alt="home">
            <p>#88, Avenue Toussaint Louverture, Pignon, Nord Haïti</p>
        </div>
        <div id="vi">
          <img width="25px" src="https://cdn-icons-png.flaticon.com/128/5968/5968841.png" alt="whatsapp">
          <p><a href="https://wa.me/50940576045?text=Bonjour%20je%20souhaite%20plus%20d'informations">Contactez-nousvia whatsapp</a></p>
        </div>
        
        <div id="vi">
            <img src="https://img.icons8.com/ios-glyphs/30/000000/phone.png" alt="call">
            <p><a href="https://wa.me/50940576045?text=Bonjour%20je%20souhaite%20plus%20d'informations">(+509) 40576045 / 48365101</a></p>
        </div>
        <div id="vi">
            <img src="https://img.icons8.com/ios-glyphs/30/000000/email.png" alt="mail">
            <p><a href="mailto:blessedwingtech@gmail.com">blessedwingtech&#64;gmail.com</a></p>
        </div>
        <div id="vi">
            <img src="https://img.icons8.com/ios-glyphs/30/000000/internet.png" alt="web">
            <p><a href="https://blogbwt.vercel.app">Blessed wing technology</a></p>
        </div>
      </div>
  
  
  </div>
</div>
