<div class="banner">
    <h1>À propos de nous</h1>
    <p>Flying better to fly higher</p>
</div>
<section class="corp">
    <div class="block">
        <div class="mini">
            <img src="https://pngimg.com/uploads/student/small/student_PNG9.png" alt="image logo">
            <div class="detail">
                <h3>Origine</h3>
                <p>
                    Nous avons pris naissance à partir d'une idée de fournir des services en informatiques, et après avois beaucoup cherché on a pu initialiser un symbole d'aile, mettant dessus que tout ce que nous entreprenons est une  bénédiction, le fait qu'on est très attaché à 'anglais étant que langue étrangère on a décidé d'utiliser la syntaxe anglophone pour exprimer l'idée de ce qu'on est en train de réaliser. C'est ainsi qu'on a fini par adopter Blessed wing technology(tech), representé avec le logo placé à côté.
                </p>
            </div>
        </div>
        <div class="mini">
                <img src="https://pngimg.com/uploads/student/small/student_PNG62532.png" alt="pour vision">
                 <div class="detail">
                <h3>Vision</h3>
            <p> La vision principale de BWT est de pouvoir créer un endroit où vous pouvez trouver toutes sortes de services liés à la technology, y inclus des services en ligne ou hors ligne, et que les services soient disponibles dans plusieurs langues.   </p>
            </div>
        </div>
        <div class="mini">
            <img src="https://th.bing.com/th/id/OIP.6m-QbJs5QbK85A8fws-e8QAAAA?pid=ImgDet&w=188&h=249&c=7" alt="pour nos services">
             <div class="detail">
            <h3>Services</h3>
        <p>Services dans les catégories suivantes</p>
        <ul>
            <li>Programmation web</li>
            <li>infographie</li>
            <li>Médias difusion</li>
            <li>Réseau</li>
            <li>Cours en ligne</li>
        </ul>
        </div>
    </div>
        
        
    </div>
</section>

