*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
.banner h1{
    background-color: orange; //rgba(rgb(3, 53, 82), $alpha: 1);
    color: #fff;
    text-align: center;
    margin-top: 80px;
    padding: 20px;
}

.banner:hover{
    width: 100%;
	height: 260px;
	background-image: linear-gradient(40deg, rgba(3, 53, 82, 0.7), rgba(0, 0, 0, 0.7)), url('https://media.istockphoto.com/id/1456828293/photo/diverse-business-people-talking-in-a-meeting-business-team-having-a-discussion-in-a-boardroom.webp?b=1&s=170667a&w=0&k=20&c=GzAbK1YyZg03azvFLNTOWC-ziAfVCPaW2TV2FpGhTGI=');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin-top: 10px;
	margin-bottom: 100px;
	padding-top: 100px;
    transition: all 1s ease-in-out;
    z-index: 100;
}
.banner p{
    text-align: center;
    color: gray;
    margin: 20px;
}
.block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start; 
    margin-left: 100px;
    margin-top: 100px;
    //box-shadow: 1px 4px 1px rgb(2, 3, 66);
}
.mini{
    width: 70%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    margin: 15px; 
    box-shadow: -2px 0 15px rgba(0, 0, 39, 0.411);
    padding: 12px 20px;
}
.mini img{ 
    width: 25%;
    //height: 30%;
    overflow: hidden;
    clip-path: circle(50%);
    transition: all 1s ease;
}
.mini img:hover{ 
    clip-path: circle(100%);
    box-shadow: 0 0 10px rgb(3, 53, 82);
    border-radius: 10px;
    filter: grayscale(3);
}
.detail{
    padding: 5px;
    width: 65%;
}
.detail h3{
    color: orange;
    background-color: rgb(3, 53, 82);
    border-radius: 8px;
    display: inline-block;
    padding: 5px 10px;
}
.detail p{
    text-align: justify;
}
//===================
@media screen and (max-width:800px) {
    .corp{
        width: 100%;
    }
    .block{
        width: 90%;
        margin:auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }
    .mini{
        margin-bottom: 15px;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        overflow: auto;
        box-shadow: 0 0 18px rgba(94, 93, 93, 0.39);
        border: solid 3px #b1afaf;
        img{
            width: 100%;
            height: auto;
        }
    }
    .detail{
        width: 88%
    } 
    .detail h3{
        margin: 12px 5px;
    }
}