:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; // Assurez-vous que le composant prend toute la hauteur de la vue
    text-align: center;
  }
  
  pre {
    font-family: monospace;
    white-space: pre-wrap;
  }
  