.video-background {
  background-color: rgba(3, 53, 82, 0.6);
  position: relative;
  width: 100%;
  height: 100vh; /* Full viewport height */
  overflow: hidden; 
}

.video-background video {
  background-color: rgba(155, 8, 8, 0.6);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1; /* Ensure the video is in the background */
}

/* Style the overlay content */
.video-background .content {
  position: relative;
  z-index: 10;
}

h1 {
  margin-top: 10%;
  text-align: center; 
  font-size: 5rem;
  color: #fff;
  border-bottom: solid 4px rgba(255, 166, 0, 0.596);
  z-index: 20;
}

.box {
  padding: 3%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.box1 { 
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn1 {
  background-color: orange;
  color: rgb(3, 53, 82);
  text-transform: uppercase;
  font-weight: bold;
}

.btn1:hover {
  background-color: rgb(3, 53, 82);
  color: orange;
}

.text {
  color: #fff;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Responsive design */
@media screen and (max-width: 800px) {
  .video-background .content {
    position: relative;
    z-index: 10;
    background-image: linear-gradient(40deg, rgba(3, 53, 82, 0.7), rgba(0, 0, 0, 0.7)), url('https://lh3.googleusercontent.com/a/ACg8ocJsEEFEVAemVjOn0RipvH_FjJbsxQEAgqfr6eAOXr6Hiu7fZuE=s288-c-no');
  }
  .box {
      width: 90%;
  }
  .box1 .box {
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
  }
  .btn1 {
      margin: 10px 5px;
  }
}

//animation
@keyframes changeColor {
  0% {
    color: rgb(255, 38, 0);
  }
  25% {
    color: rgb(12, 126, 2);
  }
  45% {
    color: rgb(4, 185, 240);
  }
  50% {
    color: rgb(214, 4, 85);
  }
  65% {
    color: rgb(61, 8, 17);
  }
  85% {
    color: rgb(243, 199, 5);
  }
  100% {
    color: blue;
  }
}

/* @keyframes changeSize {
  0% {
    font-size: 4.3rem;
  }
  50% {
    font-size: 5.5rem;
  }
  65% {
    font-size: 4.8rem;
  }
  100% {
    font-size: 5rem;
  }
} */

.animated-text { 
  animation: changeColor 1s infinite, changeSize 1.2s infinite;
}

//videopub 
    .video-container {
      position: relative;
      padding-bottom: 56.25%; /* 16:9 ratio */
      height: 0;
      overflow: hidden;
      max-width: 100%;
      background: #000;
    }
    .video-container iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }