<div class="video-background">
  <video autoplay muted loop id="bg-video">
      <source src="https://videos.pexels.com/video-files/5495788/5495788-uhd_2560_1080_30fps.mp4" type="video/mp4">
      Your browser does not support the video tag.
  </video>
  <div class="content">
      <h1 class="animated-text pb-2">
        Welcome on <br> BWT
      </h1>
      <div class="container box1">
        <div class="container">
            <p class="text">
                Une plateforme de confiance pouvant répondre à tous vos besoin en ce qui concerne le développement web, l'infographie, le réseau et d'autres services informatisés.
            </p>
          </div>
          <div class="box container">
            <button class="btn btn1">design</button>
            <button class="btn btn1">programming</button>
            <button class="btn btn1 btn-primary">innovation</button> 
          </div>
      </div>
  </div>
</div>
<div class="video-container">
  <iframe src="https://www.youtube.com/embed/LmMdm8Irqtc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>


