<footer class="bg-light bg text-center text-lg-start">
    <p class="text-center"><small><a routerLink="/confidentialite" class="text-center">Politique et Confidentialités</a></small></p>
     <div class="container p-4">
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 hidden class="text-uppercase">Politique et Confidentialités</h5>
          
        </div>
  
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0 d-flex social">
          <h5 style="margin: 15px 0 !important;" class="text-uppercase">Retrouvez-nous sur</h5>
          <div class="d-flex justify-content-center">
            <a href="https://youtube.com/@blessedwingtech?si=PWrDgT-PFrm_x_Mr"><img class="bg-light pim" src="https://cdn-icons-png.flaticon.com/128/3670/3670147.png" alt="youtube" class="mx-2" style="width: 24px;"></a>
            <a href="mailto:blessedwingtech@gmail.com"><img class="bg-light pim" src="https://cdn-icons-png.flaticon.com/128/732/732200.png" alt="gmail" class="mx-2" style="width: 24px;"></a>
            <a href="#"><img class="bg-light pim" src="https://cdn-icons-png.flaticon.com/128/5968/5968764.png" alt="facebook" class="mx-2" style="width: 24px;"></a>
            <a href="https://wa.me/50940576045?text=Bonjour%20je%20souhaite%20plus%20d'informations"><img class="bg-light pim" src="https://cdn-icons-png.flaticon.com/128/5968/5968841.png" alt="whatsapp" class="mx-2" style="width: 24px;"></a>
            <a href="https://www.tiktok.com/@blessedtech08?_t=8pJPxcJJAOE&_r=1"><img class="bg-light pim" src="https://cdn-icons-png.flaticon.com/128/2504/2504942.png" alt="tiktok" class="mx-2" style="width: 24px;"></a>
          </div>
        </div>
      </div>
  
      <div class="row mt-4">
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">Vous avez une question?</h5>
          <p><img class="bg-light" src="https://cdn-icons-png.flaticon.com/128/1927/1927656.png" alt="web" style="width: 24px;"> <a class="style-none" href="https://blessedwingtech.github.io/Unistar" class="text-dark">blessedwingtech.com</a></p>
          <p><img class="bg-light"  src="https://cdn-icons-png.flaticon.com/128/4321/4321231.png" alt="phone" style="width: 24px;"> (+509) 4057 6045 / 4836 5101</p>
<p><img class="bg-light" src="https://cdn-icons-png.flaticon.com/128/732/732200.png" alt="email" style="width: 24px;"> blessedwingtech&#64;gmail.com</p>
        </div>
      </div>
    </div>
  
    <div class="text-center p-3 bg-dark text-white">
      <p>Droit d'auteur ©2024 Tous les droits sont réservés | <span>BlessedWingTech</span></p>
      <p>Développé par <strong>Ing</strong> <a href="mailto:bentzisblessedbythelord@gmail.com" class="text-white">LOUIS Bentzky</a></p>
    </div>
  </footer>
  