<footer>
    <div class="text-center"><a routerLink="/confidentialite" >Politique et Confidentialités</a></div>
    <div class="pied">
        <div>
        <h2>À propos</h2>
        <p class="tx">Le centre idéale de hautes réalisations technologiques</p>
        <div class="im">
        <img src="./../../assets/icon/twitt.png" alt="">
        <img src="./../../assets/icon/fb.png" alt="">
        <img src="./../../assets/icon/ing.png">
        <img src="./../../assets/icon/tube.png" alt="">
        <img src="./../../assets/icon/tik.png" alt="">
        </div>
    </div>
    <div>
        <h2>Bureau d'aide</h2>
        <h4>Service à la clientàle<br>Aide Juridique<br>Services<br>Confidentialité et politique<br>Appelez-nous</h4>
    </div>
    <div>
        <h2>Cours Disponibles</h2>
        <h4>Création de sites web</h4> <h4>Ingénerie Informatique</h4> <h4>Développement web</h4> <h4>Système reparti</h4>
    </div>
    <div class="div4">
        <h2>Vous avez une question?</h2>
        <h4><img src="https://pngimg.com/uploads/apple/small/apple_PNG12491.png" alt="web"><a href="#">blessedwingtech.com</a></h4> <h4><img src="https://pngimg.com/uploads/phone/small/phone_PNG48898.png">(+509)4057-6045</h4><h4><img src="https://pngimg.com/uploads/envelope/envelope_PNG18406.png">blessedwingtech&#64;gmail.com</h4>
    </div>
    </div>
    <h4 class="end">Droit d'auteur ©2022 Tous les droits sont réservés |<span> BlessedWingTech</span> | Développé par <span class="nonm"><strong>Ing</strong> LOUIS Bentzky</span></h4>
   </footer>