<br><br><br>
<div class="banner">
  <h1>Nos services sont ici</h1>
  <p>Votre satisfaction est toujours notre priorité</p>
</div>
<br><br>
<div class="container mt-5">
    <div class="row">
      <div class="col-md-4 mb-4" *ngFor="let service of services">
        <div class="card h-100">
          <img [src]="service.image" class="card-img-top" alt="{{ service.title }}">
          <div class="card-body">
            <h5 class="card-title bg-orange p-1">{{ service.title }}</h5>
            <p class="card-text">{{ service.description }}</p>
        <button class="btn btn-primary col-12" (click)="onClick()">Contact us</button>
          </div>
        </div>
        <!-- adsterra -->
        <a href="https://ushermassacrecranny.com/yd5hrmgm?key=49598efc225e093b68850903a405d7c8"></a>
      </div>
    </div>
  </div>
  