
<body class="mt-5">
    <div class="gallery">
        <div class="gallery-item">
            <img ngSrc="https://th.bing.com/th/id/OIP.Wl300xV_CIpFVvLiWA7sRgHaLH?pid=ImgDet&w=204&h=306&c=7" fill alt="Description de l'image 1">
            <p>Description de l'image 1</p>
        </div>
        <div class="gallery-item">
            <img src="https://th.bing.com/th/id/OIP.b5cqmw3zmvKt477TSYFYfQHaIP?pid=ImgDet&w=207&h=230&c=7" alt="Description de l'image 2">
            <p>Description de l'image 2</p>
        </div>
        <div class="gallery-item">
            <img ngSrc="https://th.bing.com/th/id/OIP.IoF8fXH8w_SPwgB6jx6yNAHaHa?pid=ImgDet&w=207&h=207&c=7" fill alt="Description de l'image 3">
            <p>Description de l'image 3</p>
        </div>
        <div class="gallery-item">
            <img src="https://th.bing.com/th/id/OIP.SQ7g4bdTVdPFsX1xIgzt7AHaLG?pid=ImgDet&w=204&h=306&c=7" alt="Description de l'image 1">
            <p>Description de l'image 1</p>
        </div>
        <div class="gallery-item">
            <img src="https://th.bing.com/th/id/OIP.RhMI62qzY9SC1UsRN2hBlQAAAA?pid=ImgDet&w=207&h=234&c=7" alt="Description de l'image 2">
            <p>Description de l'image 2</p>
        </div>
        <div class="gallery-item">
            <img src="https://th.bing.com/th/id/OIP.-ij_nA2fX8ZO1ibQ988t4QHaHa?pid=ImgDet&w=207&h=207&c=7" alt="Description de l'image 3">
            <p>Description de l'image 3</p>
        </div>
        <!-- Ajoutez plus d'images ici -->
    </div>
    <div class="gallery">
        <div class="gallery-item">
            <img src="https://netstorage-tuko.akamaized.net/images/e26672ecffc82c31.jpg" alt="Description de l'image 1">
            <p>Description de l'image 1</p>
        </div>
        <div class="gallery-item">
            <img src="https://th.bing.com/th/id/OIP.b5cqmw3zmvKt477TSYFYfQHaIP?pid=ImgDet&w=207&h=230&c=7" alt="Description de l'image 2">
            <p>Description de l'image 2</p>
        </div>
        <div class="gallery-item">
            <img src="https://th.bing.com/th/id/OIP.-ij_nA2fX8ZO1ibQ988t4QHaHa?pid=ImgDet&w=207&h=207&c=7" alt="Description de l'image 3">
            <p>Description de l'image 3</p>
        </div>
        <div class="gallery-item">
            <img src="https://th.bing.com/th/id/OIP.SQ7g4bdTVdPFsX1xIgzt7AHaLG?pid=ImgDet&w=204&h=306&c=7" alt="Description de l'image 1">
            <p>Description de l'image 1</p>
        </div>
        <div class="gallery-item">
            <img src="https://th.bing.com/th/id/OIP.RhMI62qzY9SC1UsRN2hBlQAAAA?pid=ImgDet&w=207&h=234&c=7" alt="Description de l'image 2">
            <p>Description de l'image 2</p>
        </div>
        <div class="gallery-item">
            <img src="https://th.bing.com/th/id/OIP.-ij_nA2fX8ZO1ibQ988t4QHaHa?pid=ImgDet&w=207&h=207&c=7" alt="Description de l'image 3">
            <p>Description de l'image 3</p>
        </div>
        <!-- Ajoutez plus d'images ici -->
    </div>
    <div class="gallery">
        <div class="gallery-item">
            <img src="https://netstorage-tuko.akamaized.net/images/e26672ecffc82c31.jpg" alt="Description de l'image 1">
            <p>Description de l'image 1</p>
        </div>
        <div class="gallery-item">
            <img src="https://th.bing.com/th/id/OIP.b5cqmw3zmvKt477TSYFYfQHaIP?pid=ImgDet&w=207&h=230&c=7" alt="Description de l'image 2">
            <p>Description de l'image 2</p>
        </div>
        <div class="gallery-item">
            <img src="https://th.bing.com/th/id/OIP.-ij_nA2fX8ZO1ibQ988t4QHaHa?pid=ImgDet&w=207&h=207&c=7" alt="Description de l'image 3">
            <p>Description de l'image 3</p>
        </div>
        <div class="gallery-item">
            <img src="https://th.bing.com/th/id/OIP.SQ7g4bdTVdPFsX1xIgzt7AHaLG?pid=ImgDet&w=204&h=306&c=7" alt="Description de l'image 1">
            <p>Description de l'image 1</p>
        </div>
        <div class="gallery-item">
            <img src="https://th.bing.com/th/id/OIP.RhMI62qzY9SC1UsRN2hBlQAAAA?pid=ImgDet&w=207&h=234&c=7" alt="Description de l'image 2">
            <p>Description de l'image 2</p>
        </div>
        <div class="gallery-item">
            <img src="https://th.bing.com/th/id/OIP.-ij_nA2fX8ZO1ibQ988t4QHaHa?pid=ImgDet&w=207&h=207&c=7" alt="Description de l'image 3">
            <p>Description de l'image 3</p>
        </div>
        <!-- Ajoutez plus d'images ici -->
    </div>
</body>
 
