
<body class="mt-5">
    <div class="gallery">
        <div class="gallery-item">
            <img ngSrc="https://th.bing.com/th/id/OIP.Wl300xV_CIpFVvLiWA7sRgHaLH?pid=ImgDet&w=204&h=306&c=7" fill alt="Description de l'image 1">
            <p>Description de l'image 1</p>
        </div>
        <div class="gallery-item">
            <img src="https://th.bing.com/th/id/OIP.b5cqmw3zmvKt477TSYFYfQHaIP?pid=ImgDet&w=207&h=230&c=7" alt="Description de l'image 2">
            <p>Description de l'image 2</p>
        </div>
        <div class="gallery-item">
            <img [ngSrc]="images[2]" fill alt="Description de l'image 3">
            <p>Description de l'image 3</p>
        </div>
        <div class="gallery-item">
            <img [ngSrc]="image" alt="Description de l'image 1">
            <p>Description de l'image 1</p>
        </div>
        <div class="gallery-item">
            <img [src]="images[0]" alt="Description de l'image 2">
            <p>Description de l'image 2</p>
        </div>
        <div class="gallery-item">
            <img src="https://i.redd.it/4gqsa3bijvj51.jpg" alt="Description de l'image 3">
            <p>Description de l'image 3</p>
        </div>
        <!-- Ajoutez plus d'images ici -->
    </div>
     
  
</body>
 
